=rh1
	@media only screen and (max-height: "800px")
		@content

+font(campton-book, campton-book)
+font(campton-light, campton-light)
+font(campton-semibold, campton-semibold)
+font(campton-medium, campton-medium)

=cb
	font-family: 'campton-book', Arial, sans-serif
=cl
	font-family: 'campton-light', Arial, sans-serif
=csb
	font-family: 'campton-semibold', Arial, sans-serif
=cm
	font-family: 'campton-medium', Arial, sans-serif

body
	min-width: 320px
	font-size: 12px
	line-height: 1.4
	+cb
	overflow: hidden
	// background: url(../img/grain.png), #ffcda0
	// background-blend-mode: overlay
	+r(1024)
		overflow: visible

.out
	position: relative
	height: 100%

a
	text-decoration: none
	-webkit-tap-highlight-color: transparent
	cursor: pointer

.h2
	margin-bottom: 27px
	font-size: 54px
	color: #dc6c7a
	+csb
	+rh1
		margin-bottom: 20px
	+r(1024)
		font-size: 44px

.btn
	position: relative
	display: inline-block
	width: 130px
	padding: 11px 0
	text-transform: uppercase
	text-align: center
	font-size: 12px
	color: #C6C5EE
	border: 1px solid #c6c5ee
	overflow: hidden
	border-radius: 20px
	+cb
	transition: color 0.3s ease, background 0.2s ease
	&.is-red
		color: #DC6C7A
		border-color: #DC6C7A
		&:hover
			color: #fff
			background: #DC6C7A
			border-color: #DC6C7A
			i
				&:before,
				&:after
					border-color: #FFF
		i
			&:before,
			&:after
				border-color: #DC6C7A
	&:hover
		color: #000
		background: #C6C5EE
		i
			&:before,
			&:after
				border-color: #000
	span
		position: relative
		display: inline-block
		z-index: 1
	i
		position: relative
		display: inline-block
		width: 9px
		height: 9px
		vertical-align: middle
		margin: -2px 0 0 5px
		&:before,
		&:after
			content: ""
			position: absolute
			+tr(border-color 0.3s)
		&:before
			width: 7px
			height: 7px
			border-top: 1px solid #C6C5EE
			border-right: 1px solid #C6C5EE
			top: 0
			right: 0
		&:after
			left: 1px
			bottom: 0
			width: 11px
			border-bottom: 1px solid #C6C5EE
			transform-origin: bottom left
			+rotate(-45)

.popup-news
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 3000
	background-color: rgba(#151025, 0.89)
	+vertical
	visibility: hidden
	opacity: 0
	transform: scale(1.2)
	transition: visibility 0.3s, opacity 0.3s, transform 0.3s
	img
		object-fit: contain
		max-width: 100%
		max-height: 80vh 
		// width: 100%
		display: block 
	&.is-active
		opacity: 1
		visibility: visible
		transform: scale(1)
	&__slider
		display: inline-block
		vertical-align: middle
		width: 100%
		opacity: 0
		visibility: hidden
		&.is-active
			opacity: 1
			visibility: visible
	&__slide
		padding: 0 44px
		&:not(.slick-active)
			cursor: pointer