// sections
.sections
	overflow: hidden
	width: 100%
	margin: 0
	height: 100%
.dragme-animation

.ohdragme
	width: 128px
	height: 80px
	overflow: hidden
	background: url(../img/drag_sprite.png) no-repeat 0 0
	animation: ohdragme 2s steps(34) infinite normal
	margin: 60px auto 0

@keyframes ohdragme
	from
		background-position: 0 0
	to
		background-position: -(128px*34) 0

.section
	// position: fixed
	// top: 0
	// left: 0
	// bottom: 0
	// right: 0
	// display: table
	width: 100%
	height: 100%
	// visibility: hidden
	position: relative
	+vertical
	overflow: hidden
	+r(1024)
		// position: relative
		// display: block
		// height: auto
		// visibility: visible
		overflow: hidden
	.footer
		display: none
		position: relative
		+r(1024)
			display: block
			text-align: left
	&.is-active, &.is-animate
		// visibility: visible
	&.is-active
		z-index: 20
		transform: translateX(0)
	&.is-animate
		z-index: 25
		&:first-child
			z-index: 15
	&__block
		overflow: auto
		display: inline-block
		vertical-align: middle
		width: 100%
		height: 100vh
		position: relative
		z-index: 3
	&__row
		overflow: hidden
		position: relative
		min-height: 100%
		// +r(1024)
		// 	padding-bottom: 260px
		.skew
			display: none
			+r(1024)
				display: block
	&__in
		position: relative
		// display: table-cell
		display: inline-block
		width: 100%
		padding: 100px 7.8%
		vertical-align: middle
		z-index: 2
		text-align: left
		+r(1024)
			display: block
			padding: 130px 7% 50px
	&.main
		background-color: #25345c
		background-image: linear-gradient(#25345c, #314477 50%, #324577 80%)
		.footer
			padding-top: 115px
	&.ads
		.skew
			&:after, &:before
				width: 100%
				transform: skewX(-38deg)
			&:after
				left: 50%
				background-image: url(../img/grain.png), linear-gradient(#77bbb6, #93cba7 80%)
			&:before
				left: -49%
				background: url(../img/grain.png), linear-gradient(to right, #f8f1f0 0%, #ecd3cc 100%)
				background-blend-mode: overlay
		.model-images
			div
				background-position: right center
	&.affiliate
		+r(1024)
			background: url(../img/grain.png), linear-gradient(to right, #ebf5f3, #b8dfd8)
			background-blend-mode: overlay
		.model-images
			left: 50% 
		.inner
			position: static
		.skew
			// background: linear-gradient(to right, #c54a5f 0%, #d35269 51%, #f4ab99 75%, #f3a998 100%)
			&:after, &:before
				width: 200%
			&:before
				left: -100%
				transform: skewX(-40deg)
				// +gh(#c54a5f, #f3a998)
				// background-image: linear-gradient(to right, #c54a5f, #f3a998)

				background: #c54a5f
				background: url(../img/grain.png), linear-gradient(to right, #c54a5f 0%, #d35269 51%, #f4ab99 75%, #f3a998 100%)
				background-blend-mode: overlay
				// background-image: url(../img/grain.png)
				// opacity: .2
			&:after
				left: 200px
				transform: skewX(-63.3deg)
				+gh(#ebf5f3, #b8dfd8)
				// display: none // @r
				background: url(../img/grain.png), linear-gradient(to right, #ebf5f3, #b8dfd8)
				background-blend-mode: overlay
				+r(1024)
					display: none
		.footer
			+r(1024)
				.footer__bl,
				.footer__bl a,
				.footer__mail,
				.footer__icons
					color: #cb572f
				.footer__icons
					&:hover
						color: darken(#cb572f, 10%)
				.btn
					color: #cb572f
					border-color: #cb572f
					&:hover
						background: #cb572f
						color: #FFF
						i
							&:before,
							&:after
								border-color: #fff
					i
						&:before,
						&:after
							border-color: #cb572f		
		.model
			top: 67px
			transform: translateY(0)
			.model-images
				div
					background-position: left top
	&.company
		.text__bl
			padding-right: 120px 
			+r(1000)
				padding-right: 0 
		.skew
			&:before
				width: 200%
				left: -100%
				transform: skewX(-35deg)
				+gh(#ebf4ff, #dbeaff)
				background: url(../img/grain.png), linear-gradient(to right, #ebf4ff, #dbeaff)
				background-blend-mode: overlay
			&:after
				left: 50%
				width: 100%
				transform: skewX(19deg)
				// +g(#ce986c, #f1dc9d)
				// background: #ce986c
				// background-image: linear-gradient(to bottom, #b46e42 0%, #d0a174 51%, #edd198 75%, #e7ce95 100%)
				background: url(../img/grain.png), linear-gradient(-19deg, #e7ce95 0%, #edd198 51%, #d0a174 75%, #b46e42 100%)
				background-blend-mode: overlay
		.model-images
			right: -10%
			right: 0 
			left: auto
			transform: translate(0,0) !important
			div
				background-position: right center

	&.info
		padding-right: 0
		.section__in
			padding-bottom: 20px
			vertical-align: top
			z-index: auto
			padding-right: 0
			padding-top: 0
			padding-bottom: 0
		.inner
			padding-right: 0

		.skew
			transform: skewX(20deg)
			&:before
				width: 200%
				left: -50%
				+gh(#d4ecf0, #ebf3f4)
				background: url(../img/grain.png), linear-gradient(left, #d4ecf0 0%, #ebf3f4 100%)
				background-blend-mode: overlay
				z-index: 1
		.news__skew
			position: absolute
			top: 90%
			left: -24%
			width: 200%
			height: 130%
			transform: skew(20deg, 3deg)
			box-shadow: 0 0 80px 5px rgba(0,0,0,0.2)
			z-index: 3
			// +gh(#9dc6d4, #aacdda)
			background: url(../img/grain.png), linear-gradient(to bottom, #9dc6d4 0%, #aacdda 100%)
			background-blend-mode: overlay
			+r(1024)
				display: none
				
	+r(1024)
		.model
			margin: 0 auto
			&__mobile
				display: block
				background-repeat: no-repeat
				background-size: contain
		&.ads
			.model
				max-width: 585px
				&__mobile
					// height: 577px
					// background-image: url(../img/ads-circle.png)
					img
						transform: translateX(-60%)
			.skew
				&:before
					left: 0
					transform: skew(0)
				&:after
					width: 200%
					left: 70%
					+r(1024)
						width: 200% !important
						left: 0 !important
						top: auto
						bottom: 0
						height: 790px
						transform: skewY(-45deg)
		&.affiliate
			.model
				max-width: 303px
				padding-right: 20px
				&__mobile
					// height: 630px
					// background-image: url(../img/affiliate-cube2.png)
					padding-right: 0
			.skew
				&:before
					transform: skewY(29deg)
					background: url(../img/grain.png), linear-gradient(to right, #c54a5f 0%, #d35269 25%, #f4ab99 75%, #f3a998 100%)
					// left: 0
					height: 730px
					top: auto
					bottom: 0
				&:after
					width: 3000px
					left: 0
					transform: skewX(65deg)
		&.company
			.model
				max-width: 558px
				&__mobile
					// height: 569px
					// background-image: url(../img/company-pic.png)
					img
						max-width: 552px
			.skew
				&:before
					left: 0
					transform: skew(0)
				&:after
					width: 3000px
					top: 25%
					left: 0
					transform: skewX(-65deg)
	+r(830)
		&.affiliate
			.skew
				&:after
					left: -300px
		&.company
			.skew
				&:after
					top: 300px
		&.info
			.skew
				&:after
					box-shadow: none
.download
	font-size: 14px 
	color: #DC6C7A 
	text-decoration: none
	width: 90px 
	float: right
	margin-right: -130px 
	padding-top: 2px 
	+r(1000)
		display: none
	i
		font-size: 25px 
		margin-top: 7px 
// inner centered block
.inner
	position: relative
	max-width: 1300px
	margin: 0 auto
	padding: 0 15px
	+clr
	.btn
		display: none
	+r(1024)
		.btn
			display: block
			margin: 65px auto

.skew
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	+r(1024)
		display: none
	&_mob
		+r(1024)
			display: block
	&:after, &:before
		content: ""
		position: absolute
		top: 0
		height: 100%

.main
	&__bl
		position: absolute
		&.is-right
			top: 135px
			right: 0
			width: 260px
			height: 297px
			background: url(../img/main-r.png) no-repeat
		&.is-left
			left: 0
			// bottom: -200px
			top: 100px 
			left: -60px 
			width: 339px
			height: 622px
			background: url(../img/main-c.png) no-repeat 100% 0
			background-size: cover 
	+r(830)
		&__bl
			display: none

.logo
	position: relative
	display: inline-block
	width: 100%
	vertical-align: middle
	text-align: center
	font-size: 36px
	color: #f3f1ed
	+r(1024)
		transition: transform 0.3s
	&.is-fixed
		float: left
		display: block
		width: 85px
		margin: 20px 0 0 23px
		transform: translateX(-130%)
		.logo__main
			&>*
				transition: all .3s ease-in-out
		&:hover
			&>*
				transition: all .3s ease-in-out
			.logo-blue
				transform: translate(-7px,0)
			.logo-red
				transform: translate(7px,0)
			.logo-green
				transform: translate(4px,0)
			.logo-violet
				transform: translate(-3px,0)
		.logo__main
			max-width: 103px
			height: 56px
			margin-bottom: 0
		.logo__sq
			background-size: contain
		.logo-blue,
		.logo-red
			width: 40px
			height: 40px
			margin-top: -20px
		.logo-violet
			width: 38px
			height: 38px
			margin-top: -19px
		.logo-green
			width: 56px
			height: 56px
			margin-top: -28px
		.logo__name
			width: 64px
			height: 17px
			background-size: contain
	&.is-active
		+r(1024)
			transform: translateX(0%)
	&__main
		position: relative
		max-width: 400px
		height: 265px
		margin: 0 auto 14px
		z-index: 2




	&__sq
		position: absolute
	&-blue,
	&-red
		top: 50%
		width: 182px
		height: 182px
		margin-top: -91px
	&-blue
		left: 0
		background-image: url(../img/svg-bg/logo-blue.svg)
		background-repeat: no-repeat
	&-violet
		top: 50%
		left: 17%
		width: 172px
		height: 172px
		margin-top: -86px
		background-image: url(../img/svg-bg/logo-violet.svg)
		background-repeat: no-repeat
	&-green
		top: 50%
		left: 22%
		width: 265px
		height: 265px
		margin-top: -132.5px
		div
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			width: 100%
			height: 100%
			background-image: url(../img/svg-bg/logo-green.svg)
			background-repeat: no-repeat
			background-size: cover
	&-red
		right: 0
		background-image: url(../img/svg-bg/logo-red.svg)
	&__name
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 303px
		height: 82px
		background-image: url(../img/svg-bg/logo-text.svg)
		background-repeat: no-repeat
		background-size: 303px 82px
		line-height: 1
	+r(530)
		font-size: 24px
		&.is-fixed
			margin-left: 15px
		&__main
			max-width: 268px
			height: 174px
		&-blue,
		&-red
			width: 119px
			height: 119px
			margin-top: -59.5px
			background-size: contain
		&-violet
			width: 113px
			height: 113px
			margin-top: -56.5px
			background-size: contain
		&-green
			width: 174px
			height: 174px
			margin-top: -87px
			background-size: contain
		&__name
			width: 202px
			height: 55px
			background-size: contain

.text
	position: relative
	max-width: 475px
	padding-bottom: 70px
	font-size: 16px
	color: #DC6C7A
	z-index: 1
	&.is-right
		float: right
		max-width: 475px
	&__subttl
		max-width: 375px
		margin-bottom: 68px
		font-size: 24px
		+cm
		+rh1
			margin-bottom: 32px
		+r(1024)
			letter-spacing: 0.015em
			width: 90%
	&__bl
		p
			margin-bottom: 33px
			+rh1
				margin-bottom: 26px
	+r(1440)
		max-width: 460px
		&.is-right
			padding-bottom: 0
	+r(1200)
		&.is-right
			max-width: 350px
	+r(1024)
		margin: 0 auto
		max-width: 475px
		padding-bottom: 0
		&.is-right
			float: none
			max-width: 475px

// for 3d models
.model
	position: absolute
	top: 50%
	// right: 15px
	right: 0
	max-width: 100%
	transform: translateY(-50%)
	&.is-left
		left: 5vw
		padding-left: 0
	img
		display: block
		max-width: 100%
	&__mobile
		display: none
		margin: 0 -15px
		img
			display: block
			position: relative
			left: 50%
			transform: translateX(-53%)
			max-width: none
	+r(1200)
		padding-left: 375px
		&.is-left
			padding-right: 350px
	+r(1024)
		position: static
		padding-left: 0
		transform: translateY(0)

// news
.news
	position: relative
	font-size: 16px
	color: #dc6c7a
	z-index: 2
	max-height: 100vh
	max-width: none
	padding-right: 100px
	&__inner
		max-width: 800px
		margin: 0 auto
	.h2
		margin-bottom: 50px
	&__bl
		position: relative
		margin-bottom: 50px
		+clr
	&__subttl
		margin-bottom: 39px
		font-size: 24px
		+cm
		cursor: pointer
		padding-right: 30px
		&:hover
			.news-ico
				span,
				&:before,
				&:after
					background: lighten(#dc6c7a, 10%)
	&__content
		display: none
		max-width: 520px
	&__date
		float: left
		width: 144px
		+cm
	&__text
		margin-top: 3px
		overflow: hidden
	&__day
		font-size: 36px
		line-height: 1
	&__gal
		margin: 26px -5px 0
		+clr
	&__img
		display: block
		max-width: 90px
		float: left
		margin: 0 5px
		img
			width: 100%
	&-ico
		position: absolute
		top: 5px
		right: 0
		width: 14px
		height: 14px
		&:before,
		&:after
			content: ""
			position: absolute
			top: 50%
			left: 0
			width: 100%
			height: 2px
			background: #dc6c7a
		&:before
			+rotate(45)
		&:after
			+rotate(-45)
		&.is-arrow
			&:before,
			&:after
				top: 41%
				width: 70%
			&:before
				transform-origin: left bottom
			&:after
				transform-origin: right bottom
				right: 0
				left: auto
			span
				opacity: 1
		span
			position: absolute
			top: 0
			height: 100%
			left: 50%
			width: 2px
			margin-left: -1px
			background: #dc6c7a
			opacity: 0
	+r(530)
		&__date
			float: none
			margin-bottom: 28px
		&__text
			padding: 0
		&__subttl
			font-size: 22px
#news
	// overflow: auto
#news .inner
	padding-right: 0
	max-width: none
	// overflow: auto
.news
	overflow: auto
	padding-top: 90px
	padding-bottom: 100px
.inner__text
	position: relative
	z-index: 20
	margin: 0 -15px
	padding: 0 15px
	+clr
	+r(1024)
		padding: 0

.model-images
	width: 100vw
	height: 100vh
	max-width: 1300px
	// max-height: 1500px
	position: absolute
	top: 0
	bottom: 0
	left: 60%
	transform: translateX(-50%)
	z-index: 1
	+r(1024)
		display: none
	div
		position: absolute
		top: 20px
		left: 0
		right: 0
		bottom: 20px
		background-repeat: no-repeat
		background-size: contain
		opacity: 0
		&.is-active
			opacity: 1
	img
		max-width: 100%
		max-height: 100%

body
	user-select: none
.section__row
	display: inline-block
	vertical-align: middle
	+vertical
	// height: 100%
	width: 100%
	&:before
		height: 100vh
		+r(1024)
			display: none
	&.is-mod
		min-height: 1px
		&:before
			height: auto
			
	.inner
		z-index: 2
body
	cursor: url(../img/grab.png) 8 8, move
	&:active
		cursor: url(../img/grabbing.png) 8 8, move
.button-prev, .button-next
	position: fixed
	top: 87px
	bottom: 92px
	width: 133px
	padding: 23px
	z-index: 32
	background: none
	opacity: 0
	will-change: opacity
	transition: visibility 0.2s, opacity 0.2s

	// cursor: url(../img/grab.png) 8 8, move
	+r(1024)
		display: none !important
	&:hover
		opacity: 1
		i
			transform: translate(0,0)
	i
		width: 39px
		height: 39px
		text-align: center
		line-height: 39px
		background-color: rgba(#fff, 0.8)
		box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1)
		border-radius: 50%
		font-size: 15px
		transition: transform .2s ease-in-out, background .1s linear,color .1s linear
		body.is-green &
			// background: #195031
			color: #195031
		body.is-red &
			// background: #a24525
			color: #a24525
		body.is-brown &
			// background: #8a5529
			color: #8a5529
		body.is-blue &
			// background: #547a9d
			color: #547a9d
		// &:hover
		// 	background-color: rgba(#000, 0.8)
		// 	color: #fff
.button-prev
	left: 0
	text-align: left
	i
		transform: translate(-50px,0)
.button-next
	right: 0
	text-align: right
	i
		transform: translate(50px,0)
.slick-active
	.js-subtitle, .js-text, .js-title
		opacity: 1
	.text
		transform: translate3d(0,0,0)
.js-subtitle, .js-text, .js-title
	opacity: 0
	position: relative
.info
	.inner
		+r(1024)
			padding: 0
	.news
		+r(1024)
			padding: 0
			+g(#cae7ed, #eff7f9)
		&__inner
			+r(1024)
				padding: 130px 7% 50px
	.section__in
		+r(1024)
			padding: 0	