<div class="section about js-about" id="about">
	<div class="section__block">		
		<div class="section__row">
			<div class="model-images js-images">
				<div data-src="img/04/shims_00.png" class="is-active"></div>
				<div data-src="img/04/shims_01.png"></div>
				<div data-src="img/04/shims_02.png"></div>
				<div data-src="img/04/shims_03.png"></div>
				<div data-src="img/04/shims_04.png"></div>
				<div data-src="img/04/shims_05.png"></div>
				<div data-src="img/04/shims_06.png"></div>
				<div data-src="img/04/shims_07.png"></div>
				<div data-src="img/04/shims_08.png"></div>
				<div data-src="img/04/shims_09.png"></div>
				<div data-src="img/04/shims_10.png"></div>
				<div data-src="img/04/shims_11.png"></div>
				<div data-src="img/04/shims_12.png"></div>
				<div data-src="img/04/shims_13.png"></div>
				<div data-src="img/04/shims_14.png"></div>
				<div data-src="img/04/shims_15.png"></div>
				<div data-src="img/04/shims_16.png"></div>
				<div data-src="img/04/shims_17.png"></div>
				<div data-src="img/04/shims_18.png"></div>
				<div data-src="img/04/shims_19.png"></div>
				<div data-src="img/04/shims_20.png"></div>
				<div data-src="img/04/shims_21.png"></div>
				<div data-src="img/04/shims_22.png"></div>
				<div data-src="img/04/shims_23.png"></div>
				<div data-src="img/04/shims_24.png"></div>
				<div data-src="img/04/shims_25.png"></div>
			</div>
			<div class="section__in">
				<div class="inner">
					<div class="inner__text">
						<div class="text text_about">
							<h2 class="h2 js-title">About us</h2>
							<div class="text__bl js-text">
								<p>Allitapp are a team of young motivated and truly interested in mobile professionals. Every experience we gained is a treasure that we would like to share with you.</p>
								<p>Allitapp is a best choice for those who is interested in cost turn into profit. Be with us. Join the best.</p>
								<div class="about__btns">
									<a href="#" class="btn is-red"><span>Join us<i></i></span></a>
									<a href="#" class="btn-next">show next<i></i></a>
								</div>
							</div>
						</div>
					</div>
					<div class="model js-model">
						<!-- <img src="img/about-pic.png" alt=""> -->
					</div>
				</div>
			</div>
			<div class="skew js-skew">
				<div></div>
			</div>
		</div>
		<div class="section__row team js-team">
			<div class="section__in">
				<div class="inner">
					<div class="team__row">
						<div class="member js-item">
							<div class="member__top">
								<h4 class="member__title">Marina Tkalenko</h4>
								<p>— Founder & CEO</p>
							</div>
							<div class="member__img" style="background-image: url(https://placecage.com/309/421);"><div class="member__img1" style="background-image: url(https://fillmurray.com/309/421);"></div></div>
							
							<div class="member__info">
								<p>Looking for mobile CPI campaigns worldwide. Feel free to contact me at.</p>
								<ul>
									<li>E-mail: nat@allitapp.com</li>
									<li>Skype: allitapp.adv2</li>
									<li>Phone: +972533316903</li>
								</ul>
							</div>
						</div>
						<div class="member js-item">
							<div class="member__top">
								<h4 class="member__title">Alyona Savenko</h4>
								<p>— Head Of Advertiser Development</p>
							</div>
							<div class="member__img" style="background-image: url(https://fillmurray.com/309/421);"><div class="member__img1" style="background-image: url(https://placecage.com/309/421);"></div></div>
							
							<div class="member__info">
								<p>Looking for mobile CPI campaigns worldwide. Feel free to contact me at.</p>
								<ul>
									<li>E-mail: nat@allitapp.com</li>
									<li>Skype: allitapp.adv2</li>
									<li>Phone: +972533316903</li>
								</ul>
							</div>
						</div>
						<div class="member js-item">
							<div class="member__top">
								<h4 class="member__title">Alex Melnik</h4>
								<p>— Head Of Publishing Development</p>
							</div>
							<div class="member__img" style="background-image: url(https://placecage.com/g/309/421);"><div class="member__img1" style="background-image: url(https://fillmurray.com/309/421);"></div></div>
							
							<div class="member__info">
								<p>Looking for mobile CPI campaigns worldwide. Feel free to contact me at.</p>
								<ul>
									<li>E-mail: nat@allitapp.com</li>
									<li>Skype: allitapp.adv2</li>
									<li>Phone: +972533316903</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="model">
						<div class="model__mobile"></div>
					</div>
				</div>
				<div class="skew"></div>
			</div>
		</div>
	</div>
</div>