<div class="section ads js-ads" id="ads">
	<div class="skew">
		<div class="skew__after"></div>
	</div>
	<div class="model-images js-images">
		<div data-src="img/01/target_24.png" class="is-active"></div>
		<div data-src="img/01/target_23.png"></div>
		<div data-src="img/01/target_22.png"></div>
		<div data-src="img/01/target_21.png"></div>
		<div data-src="img/01/target_20.png"></div>
		<div data-src="img/01/target_19.png"></div>
		<div data-src="img/01/target_18.png"></div>
		<div data-src="img/01/target_17.png"></div>
		<div data-src="img/01/target_16.png"></div>
		<div data-src="img/01/target_15.png"></div>
		<div data-src="img/01/target_14.png"></div>
		<div data-src="img/01/target_13.png"></div>
		<div data-src="img/01/target_12.png"></div>
		<div data-src="img/01/target_11.png"></div>
		<div data-src="img/01/target_10.png"></div>
		<div data-src="img/01/target_09.png"></div>
		<div data-src="img/01/target_08.png"></div>
		<div data-src="img/01/target_07.png"></div>
		<div data-src="img/01/target_06.png"></div>
		<div data-src="img/01/target_05.png"></div>
		<div data-src="img/01/target_04.png"></div>
		<div data-src="img/01/target_03.png"></div>
		<div data-src="img/01/target_02.png"></div>
		<div data-src="img/01/target_01.png"></div>
		<div data-src="img/01/target_00.png"></div>
	</div>
	<div class="section__block">
		<div class="section__row">
			<div class="section__in">
				<div class="inner">
					<div class="inner__text">
						<div class="text">
							<h2 class="h2 js-title">Advertisers</h2>
							<p class="text__subttl js-subtitle">We are offers quality traffic for your campaigns</p>
							<div class="text__bl js-text">
								<p>Allitapp put a lot of effort into studying the behaviour of users in different app verticals, learning about the latest tendencies in mobile traffic, implementing the most recent, reliable and convenient technical solutions for quality monitoring and mobile traffic tracking.</p>
								<p>Quality is also ensured by trusted publishers only. Our services will help to turn your expenses into solid profit.</p>
								<a href="#" class="btn is-red"><span>Join us<i></i></span></a>
							</div>
						</div>
					</div>
					<div class="model">
						<!-- <img src="img/ads-pic.png" alt=""> -->
						<div class="model__mobile">
							<!-- <img src="img/ads-circle.png" alt=""> -->
							<img src="img/target_m.png" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="skew skew_mob"><div class="skew__after"></div></div>
			//=include footer.html
		</div>
	</div>
</div>