<div class="section affiliate js-affiliate">
	<div class="section__in">
		<div class="inner">
			<div class="inner__text">
				<div class="text is-right">
					<h2 class="h2 js-title">Affiliates</h2>
					<p class="text__subttl js-subtitle">Our team is looking for the traffic. Best campaigns and flexible payment terms.</p>
					<div class="text__bl js-text">
						<p>We brought best converting and newest offers to our platform. Besides, we offer the highest payouts and flexible payment terms. This is a perfect environment for your business bloom with us.</p>
						<p>What is the formula of success and high revenue? It’s simple. We find the best application and you place an ad of it. Every day our new great pubs join our platform. Be one of them and grow with us. Join the best.</p>
						<a href="#" class="btn is-red"><span>Join us<i></i></span></a>
					</div>
				</div>
			</div>
			<div class="model is-left">
				<!-- <img src="img/affiliate-pic.png" alt=""> -->
				<div class="model-images js-images">
					<div class="is-active" data-src="img/02/cube_00.png"></div>
					<div data-src="img/02/cube_01.png"></div>
					<div data-src="img/02/cube_02.png"></div>
					<div data-src="img/02/cube_03.png"></div>
					<div data-src="img/02/cube_04.png"></div>
					<div data-src="img/02/cube_05.png"></div>
					<div data-src="img/02/cube_06.png"></div>
					<div data-src="img/02/cube_07.png"></div>
					<div data-src="img/02/cube_08.png"></div>
					<div data-src="img/02/cube_09.png"></div>
					<div data-src="img/02/cube_10.png"></div>
					<div data-src="img/02/cube_11.png"></div>
					<div data-src="img/02/cube_12.png"></div>
					<div data-src="img/02/cube_13.png"></div>
					<div data-src="img/02/cube_14.png"></div>
					<div data-src="img/02/cube_15.png"></div>
					<div data-src="img/02/cube_16.png"></div>
					<div data-src="img/02/cube_17.png"></div>
					<div data-src="img/02/cube_18.png"></div>
					<div data-src="img/02/cube_19.png"></div>
					<div data-src="img/02/cube_20.png"></div>
					<div data-src="img/02/cube_21.png"></div>
					<div data-src="img/02/cube_22.png"></div>
					<div data-src="img/02/cube_23.png"></div>
					<div data-src="img/02/cube_24.png"></div>
				</div>
				<div class="model__mobile"></div>
			</div>
		</div>
	</div>
	<div class="skew"></div>
</div>