<div class="section company js-company">
	<div class="section__in">
		<div class="inner">
			<div class="inner__text">
				<div class="text">
					<h2 class="h2 js-title">Company</h2>
					<p class="text__subttl js-subtitle">We consider our work done</p>
					<div class="text__bl js-text">
						<p>Allitapp is a performance based network founded in 2015 in Hong Kong that works on CPI/CPA basis. It grants you access to the most profitable markets for mobile business in the world.</p>
						<p>The Allitapp team consisting of experienced and ambitious professionals provides you with effective communication and constant online support for you, taking care of the traffic quality, monitoring it 24/7.</p>
						<p>We consider our work done well seeing your investments return swiftly and bring more and more profit as you engage in cooperation with us.</p>
						<a href="#" class="btn is-red"><span>Join us<i></i></span></a>
					</div>
				</div>
			</div>
			<div class="model">
				<!-- <img src="img/company-pic.png" alt=""> -->
				<div class="model-images js-images">
					<div data-src="img/03/turbine_00.png" class="is-active"></div>
					<div data-src="img/03/turbine_01.png"></div>
					<div data-src="img/03/turbine_02.png"></div>
					<div data-src="img/03/turbine_03.png"></div>
					<div data-src="img/03/turbine_04.png"></div>
					<div data-src="img/03/turbine_05.png"></div>
					<div data-src="img/03/turbine_06.png"></div>
					<div data-src="img/03/turbine_07.png"></div>
					<div data-src="img/03/turbine_08.png"></div>
					<div data-src="img/03/turbine_09.png"></div>
					<div data-src="img/03/turbine_10.png"></div>
					<div data-src="img/03/turbine_11.png"></div>
					<div data-src="img/03/turbine_12.png"></div>
					<div data-src="img/03/turbine_13.png"></div>
					<div data-src="img/03/turbine_14.png"></div>
					<div data-src="img/03/turbine_15.png"></div>
					<div data-src="img/03/turbine_16.png"></div>
					<div data-src="img/03/turbine_17.png"></div>
					<div data-src="img/03/turbine_18.png"></div>
					<div data-src="img/03/turbine_19.png"></div>
					<div data-src="img/03/turbine_20.png"></div>
					<div data-src="img/03/turbine_21.png"></div>
					<div data-src="img/03/turbine_22.png"></div>
					<div data-src="img/03/turbine_23.png"></div>
					<div data-src="img/03/turbine_24.png"></div>
				</div>
				<div class="model__mobile"></div>
			</div>
		</div>
	</div>
	<div class="skew"></div>
</div>