<div class="footer js-footer is-active">
	<div class="footer__in">
		<div class="footer__bl">
			<p class="footer__address"><a href="#">Shalom Meir Tower, Ehad Ha’am 9, Tel Aviv, Israel</a></p>
		</div>
		<div class="footer__bl is-center">
			<a href="#" class="btn"><span>Join us<i></i></span></a>
		</div>
		<div class="footer__bl is-right">
			<a href="mailto: info@allitapp.com" class="footer__mail">info@allitapp.com</a>
			<div class="footer__social">
				<a href="#" class="footer__icons"><i class="icon-fb"></i></a>
				<a href="#" class="footer__icons is-center"><i class="icon-linkedin"></i></a>
				<a href="#" class="footer__icons"><i class="icon-tw"></i></a>
			</div>
		</div>
	</div>
</div>