<div class="header js-header">
	<div class="header__in">
		<a href="#" class="logo is-fixed">
			<div class="logo__main">
				<div class="logo__sq logo-red"></div>
				<div class="logo__sq logo-green"></div>
				<div class="logo__sq logo-violet"></div>
				<div class="logo__sq logo-blue"></div>
				<p class="logo__name"></p>
			</div>
		</a>
		<a href="#" class="menu-ico js-show-menu"><span></span></a>
	</div>
</div>
<div class="menu js-menu">
	<a href="#" class="menu__close js-close-menu"><i class="close-ico"></i></a>
	<ul class="menu__list">
		<li><a href="#" class="menu__option menu__option-1">Advertisers</a></li>
		<li><a href="#" class="menu__option menu__option-2">Affiliates</a></li>
		<li><a href="#" class="menu__option menu__option-3">Company</a></li>
		<li><a href="#" class="menu__option menu__option-4">News</a></li>
		<li><a href="#" class="menu__option menu__option-5">About us</a></li>
	</ul>
</div>
