<div class="header js-header">
	<div class="header__in">
		<a href="0" data-color="first" class="logo js-link js-small-logo is-fixed">
			<div class="logo__main">
				<div class="logo__sq logo-red"></div>
				<div class="logo__sq logo-green"><div></div></div>
				<div class="logo__sq logo-violet"></div>
				<div class="logo__sq logo-blue"></div>
				<p class="logo__name"></p>
			</div>
		</a>
	</div>
</div>
<a href="#" class="menu-ico js-show-menu is-first">
	<div class="menu-ico__open"><span></span></div>
	<div class="menu-ico__close"><i class="close-ico"></i></div>
</a>
<div class="menu js-menu">
	<ul class="menu__list">
		<li><a href="1" data-id="#ads" data-color="green" class="menu__option js-link menu__option-1">Advertisers</a></li>
		<li><a href="2" data-id="#affiliate" data-color="green" class="menu__option js-link menu__option-2">Affiliates</a></li>
		<li><a href="3" data-id="#company" data-color="red" class="menu__option js-link menu__option-3">Company</a></li>
		<li><a href="4" data-id="#about" data-color="brown" class="menu__option js-link menu__option-5">About us</a></li>
		<li><a href="5" data-id="#news" data-color="blue" class="menu__option js-link menu__option-4">News</a></li>
	</ul>
</div>
