<div class="section main is-active js-main">
	<div class="section__in">
		<div class="main__bl is-left js-main-left"></div>
		<div class="main__bl is-right js-main-right"></div>
		<div class="inner">
			<div class="logo">
				<div class="logo__main">
					<div class="logo__sq js-red-square logo-red"></div>
					<div class="logo__sq js-green-square logo-green"><div></div></div>
					<div class="logo__sq js-violet-square logo-violet"></div>
					<div class="logo__sq js-blue-square logo-blue"></div>
					<p class="logo__name js-logo-name"></p>
				</div>
				<p class="js-main-text">value each click</p>
			</div>
			<a href="#" class="btn"><span>Join us<i></i></span></a>
		</div>
	</div>
</div>