<div class="section main">
	<div class="section__in">
		<div class="main__bl is-left"></div>
		<div class="main__bl is-right"></div>
		<div class="inner">
			<div class="logo">
				<div class="logo__main">
					<div class="logo__sq logo-red"></div>
					<div class="logo__sq logo-green"></div>
					<div class="logo__sq logo-violet"></div>
					<div class="logo__sq logo-blue"></div>
					<p class="logo__name"></p>
				</div>
				<p>value each click</p>
			</div>
			<a href="#" class="btn"><span>Join us<i></i></span></a>
		</div>
	</div>
</div>