<div class="section info">
	<div class="section__in">
		<div class="inner">
			<div class="news">
				<h2 class="h2">News</h2>
				<div class="news__bl">
					<div class="news__date">
						<p class="news__day">21</p>
						<p>November</p>
					</div>
					<div class="news__text">
						<p class="news__subttl">Platform launch</p>
						<div class="news__content js-content" style="display: block">
							<p>Raised from the ashes of an old project, Stump Valley is a funny old place in the countryside by the forest, where deers and boars run free in the street, that’s the place where the most of S.V. music was made.!</p>
							<div class="news__gal">
								<a class="news__img js-fancybox" rel="gallery" href="img/news1.jpg">
									<img src="img/news1.jpg" alt="">
								</a>
								<a class="news__img js-fancybox" rel="gallery" href="img/news2.jpg">
									<img src="img/news2.jpg" alt="">
								</a>
								<a class="news__img js-fancybox" rel="gallery" href="img/news3.jpg">
									<img src="img/news3.jpg" alt="">
								</a>
							</div>
						</div>
					</div>
					<a href="#" class="news-ico js-toggle-news"><span></span></a>
				</div>
				<div class="news__bl">
					<div class="news__date">
						<p class="news__day">23</p>
						<p>October</p>
					</div>
					<div class="news__text">
						<p class="news__subttl">Testing mode</p>
						<div class="news__content js-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo incidunt qui laborum cum optio aliquam quas quisquam quidem quaerat nesciunt vero unde, eligendi, adipisci ut recusandae odio error. Impedit, debitis.</p>
						</div>
					</div>
					<a href="#" class="news-ico is-arrow js-toggle-news"><span></span></a>
				</div>
				<div class="news__bl">
					<div class="news__date">
						<p class="news__day">9</p>
						<p>October</p>
					</div>
					<div class="news__text">
						<p class="news__subttl">Allitapp team visited Casual Content.</p>
						<div class="news__content js-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum deserunt soluta nostrum eum rem vel vero laudantium nobis adipisci aut, alias quisquam, assumenda eius neque tempora hic. Dolores, animi consectetur.</p>
						</div>
					</div>
					<a href="#" class="news-ico is-arrow js-toggle-news"><span></span></a>
				</div>
			</div>
		</div>
		//=include ../partials/footer.html
	</div>
	<div class="skew"></div>
</div>